/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: no-filter;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #CCCCCC;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #CCCCCC;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #CCCCCC;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	max-id: 9;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	widows: 2;
	orphans: 2;
	border-spacing-x: 1;
	border-spacing-y: 1;
	page-break-before: avoid;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #006699;
	name: Column1;
	id: 0;
	text-align: left;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	id: 9;
	name: Subheading;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #006699;
	name: Body1;
	id: 1;
	text-align: left;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #006699;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-no-filter
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #CCCCCC;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #CCCCCC;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #CCCCCC;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CCCCCC;
	border-bottom-width: 1px;
	page-break-before: avoid;
	widows: 2;
	orphans: 2;
	border-spacing: 1px 1px;
}

.TableStyle-no-filter-Column-Column1
{
}

.TableStyle-no-filter-Head-Header1
{
}

.TableStyle-no-filter-HeadI-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #CCCCCC;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadI-Column1-Header1 p
{
}

.TableStyle-no-filter-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 2px;
	border-bottom-color: #004f71;
	border-bottom-style: solid;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadE-Column1-Header1 p
{
}

.TableStyle-no-filter-HeadF-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 2px;
	border-bottom-color: #004f71;
	border-bottom-style: solid;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadF-Column1-Header1 p
{
}

.TableStyle-no-filter-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadH-Column1-Header1 p
{
}

.TableStyle-no-filter-HeadD-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 2px;
	border-bottom-color: #004f71;
	border-bottom-style: solid;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadD-Column1-Header1 p
{
}

.TableStyle-no-filter-HeadC-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadC-Column1-Header1 p
{
}

.TableStyle-no-filter-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadB-Column1-Header1 p
{
}

.TableStyle-no-filter-HeadA-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadA-Column1-Header1 p
{
}

.TableStyle-no-filter-HeadG-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadG-Column1-Header1 p
{
}

.TableStyle-no-filter-Head-Subheading
{
}

.TableStyle-no-filter-HeadI-Column1-Subheading
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
}

.TableStyle-no-filter-HeadI-Column1-Subheading p
{
}

.TableStyle-no-filter-HeadE-Column1-Subheading
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #4298b5;
	border-bottom-style: solid;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadE-Column1-Subheading p
{
}

.TableStyle-no-filter-HeadF-Column1-Subheading
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #4298b5;
	border-bottom-style: solid;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadF-Column1-Subheading p
{
}

.TableStyle-no-filter-HeadH-Column1-Subheading
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadH-Column1-Subheading p
{
}

.TableStyle-no-filter-HeadD-Column1-Subheading
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #4298b5;
	border-bottom-style: solid;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadD-Column1-Subheading p
{
}

.TableStyle-no-filter-HeadC-Column1-Subheading
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadC-Column1-Subheading p
{
}

.TableStyle-no-filter-HeadB-Column1-Subheading
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadB-Column1-Subheading p
{
}

.TableStyle-no-filter-HeadA-Column1-Subheading
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadA-Column1-Subheading p
{
}

.TableStyle-no-filter-HeadG-Column1-Subheading
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
}

.TableStyle-no-filter-HeadG-Column1-Subheading p
{
}

.TableStyle-no-filter-Foot-Footer1
{
	
}

.TableStyle-no-filter-FootI-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-no-filter-FootI-Column1-Footer1 p
{
}

.TableStyle-no-filter-FootE-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #006699;
	border-top-style: none;
}

.TableStyle-no-filter-FootE-Column1-Footer1 p
{
}

.TableStyle-no-filter-FootF-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #006699;
	border-top-style: none;
}

.TableStyle-no-filter-FootF-Column1-Footer1 p
{
}

.TableStyle-no-filter-FootH-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
}

.TableStyle-no-filter-FootH-Column1-Footer1 p
{
}

.TableStyle-no-filter-FootD-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #006699;
	border-top-style: none;
}

.TableStyle-no-filter-FootD-Column1-Footer1 p
{
}

.TableStyle-no-filter-FootC-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-no-filter-FootC-Column1-Footer1 p
{
}

.TableStyle-no-filter-FootB-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
}

.TableStyle-no-filter-FootB-Column1-Footer1 p
{
}

.TableStyle-no-filter-FootA-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-no-filter-FootA-Column1-Footer1 p
{
}

.TableStyle-no-filter-FootG-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-no-filter-FootG-Column1-Footer1 p
{
}

.TableStyle-no-filter-Body-Body1
{
}

.TableStyle-no-filter-BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
}

.TableStyle-no-filter-BodyI-Column1-Body1 p
{
}

.TableStyle-no-filter-BodyE-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
}

.TableStyle-no-filter-BodyE-Column1-Body1 p
{
}

.TableStyle-no-filter-BodyF-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
}

.TableStyle-no-filter-BodyF-Column1-Body1 p
{
}

.TableStyle-no-filter-BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
}

.TableStyle-no-filter-BodyH-Column1-Body1 p
{
}

.TableStyle-no-filter-BodyD-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
}

.TableStyle-no-filter-BodyD-Column1-Body1 p
{
}

.TableStyle-no-filter-BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
}

.TableStyle-no-filter-BodyC-Column1-Body1 p
{
}

.TableStyle-no-filter-BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: none;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
}

.TableStyle-no-filter-BodyB-Column1-Body1 p
{
}

.TableStyle-no-filter-BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
}

.TableStyle-no-filter-BodyA-Column1-Body1 p
{
}

.TableStyle-no-filter-BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: 'Sabon LT Std';
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
}

.TableStyle-no-filter-BodyG-Column1-Body1 p
{
}


