/*<meta />*/

/*

LAST UPDATE: S-0030 (with 2015 re-branding)

========
FONT SUBSTITUTIONS (As suggested by Sam Oltrogge, 14/Jan/2014)

Chinese (Simplified) -> DnB-Style-CN.css
Serif: SimSun
San-Serif: SimHei

Japanese -> DnB-Style-JP.css
Serif: MS Mincho
San-Serif: Meiryo

========
ALTERNATE VERSION for PowerPoint-like Desks -> DnB-Style-*-D.css

1. title page changes
2. <h1> changes (to push down first <p>)
3. back cover changes

ALTERNATE VERSION for Outlines -> DnB-Style-*-O.css

=========

*/

body
{
	mc-hyphenate: never;
}

h1,
div.buttons h1
{
	font-size: 22pt;
	font-family: 'Avenir LT Std 65 Medium';
	font-weight: normal;
	color: #004f71; /* RGB (0,79,113) primary dark blue */
	mc-hyphenate: never;
	page-break-before: always;
}

h1.appendix
{
	mc-auto-number-format: 'CH:Appendix {chapnum}: ';
}

h1.chapter
{
	mc-auto-number-format: 'CH:Chapter {chapnum}: ';
}

h1.outline
{
	mc-auto-number-format: 'O:{n+}. ';
}

h1.toc
{
	page-break-before: avoid;
	mc-heading-level: 0;
}

h2,
div.buttons h2
{
	font-size: 19pt;
	font-family: 'Avenir LT Std 35 Light';
	font-weight: lighter;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	margin-top: 16pt;
	mc-hyphenate: never;
}

h2.pagebreak
{
	font-size: 19pt;
	font-family: 'Avenir LT Std 35 Light';
	font-weight: lighter;
	color: #4298b5; /* RGB (66,152,181) primary light blue */
	page-break-before: always;
	mc-hyphenate: never;
}

h2.outline
{
	mc-auto-number-format: 'O:{n}.{n+}. ';
}

h3,
div.buttons h3
{
	font-size: 16pt;
	font-family: 'Avenir LT Std 35 Light';
	font-weight: lighter;
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	margin-top: 10pt;
	mc-hyphenate: never;
	mc-heading-level: 0;
}

h3.outline
{
	mc-auto-number-format: 'O:{n}.{n}.{n+}. ';
}

h4,
div.buttons h4
{
	font-size: 14pt;
	font-family: 'Avenir LT Std 35 Light';
	font-weight: lighter;
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	mc-hyphenate: never;
	mc-heading-level: 0;
}

h4.outline
{
	mc-auto-number-format: 'O:{n}.{n}.{n}.{n+}. ';
}

h5
{
	font-size: 12pt;
	font-family: 'Avenir LT Std 65 Medium';
	font-weight: normal;
	text-transform: uppercase;
	mc-hyphenate: never;
	mc-heading-level: 0;
}

h6
{
	font-size: 10pt;
	font-family: 'Avenir LT Std 65 Medium';
	font-weight: lighter;
	mc-hyphenate: never;
	mc-heading-level: 0;
}

p
{
	font-size: 11pt;
	font-family: 'Sabon LT Std';
	line-height: 14pt;
	margin-bottom: 12pt;
	mc-hyphenate: never;
}

p.introduction
{
	font-size: 14pt;
	font-family: 'Avenir LT Std 35 Light';
	font-weight: lighter;
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	line-height: 16pt;
	margin-bottom: 12pt;
	mc-hyphenate: never;
}

p.comment
{
	font-size: 11pt;
	line-height: 13pt;
	color: #9400d3;
	margin-top: 6pt;
	margin-bottom: 6pt;
	mc-hyphenate: never;
}

p.figure
{
	font-size: 9pt;
	font-family: 'Sabon LT Std';
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	line-height: 10pt;
	text-align: center;
	page-break-before: avoid;
	margin-top: 0pt;
	margin-bottom: 6pt;
	padding: 0px;
	text-transform: uppercase;
	mc-auto-number-format: '{b}FIGURE {/b}';
}

p.figure_auto
{
	font-size: 9pt;
	font-family: 'Sabon LT Std';
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	line-height: 10pt;
	text-align: center;
	page-break-before: avoid;
	margin-top: 0pt;
	margin-bottom: 6pt;
	padding: 0px;
	text-transform: uppercase;
	mc-auto-number-format: 'F:{b}FIGURE {n+}. {/b}';
}

p.figure_auto_colon
{
	font-size: 9pt;
	font-family: 'Sabon LT Std';
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	line-height: 10pt;
	text-align: center;
	page-break-before: avoid;
	margin-top: 0pt;
	margin-bottom: 6pt;
	padding: 0px;
	text-transform: uppercase;
	mc-auto-number-format: 'F:{b}FIGURE {n+}: {/b}';
}

p.figure_chapter
{
	font-size: 9pt;
	font-family: 'Sabon LT Std';
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	line-height: 10pt;
	text-align: center;
	page-break-before: avoid;
	margin-top: 0pt;
	margin-bottom: 6pt;
	padding: 0px;
	text-transform: uppercase;
	mc-auto-number-format: 'F:{b}FIGURE {chapnum}-{n+}. {/b}';
}

p.important, .bg-danger
{
	font-size: 11pt;
	color: #ffffff;
	background-color: #be4d00; /* RGB (190,77,0) reddish */
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-right: 10pt;
	padding: 5px;
	border-style: none;
	mc-hyphenate: never;
	mc-auto-number-format: '{b}IMPORTANT: {/b}';
}

p.exception, .bg-warning
{
	font-size: 11pt;
	background-color: #ffee99;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-right: 10pt;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #666633;
	mc-hyphenate: never;
	mc-auto-number-format: '{b}EXCEPTION: {/b}';
}

p.success, .bg-success
{
	font-size: 11pt;
	background-color: #ccffcc;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-right: 10pt;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #009966;
	mc-hyphenate: never;
	mc-auto-number-format: '{b}SUCCESS: {/b}';
}

p.note, .bg-info
{
	font-size: 11pt;
	color: #ffffff;
	background-color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-right: 10pt;
	padding: 5px;
	border-style: none;
	border-width: 1px;
	border-color: #006699;
	mc-hyphenate: never;
	mc-auto-number-format: '{b}NOTE: {/b}';
}

p.note_indented
{
	font-size: 11pt;
	color: #ffffff;
	background-color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	margin-left: 24px;
	margin-right: 48px;
	margin-top: 9.67pt;
	margin-bottom: 9.67pt;
	padding: 5px;
	border-style: none;
	border-width: 1px;
	border-color: #006699;
	mc-hyphenate: never;
	mc-auto-number-format: '{b}NOTE: {/b}';
}

p.screen
{
	text-align: center;
	margin-bottom: 0pt;
}

p.term
{
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	margin-bottom: 0pt;
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
}

p.term_type
{
	margin-top: 0pt;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 9pt;
}

p.term_definition
{
	margin-top: 0pt;
	font-size: 10pt;
	line-height: 11pt;
	font-weight: normal;
	font-style: normal;
}

p.copyright_footer
{
	margin-top: 36pt;
	font-size: 9pt;
	line-height: 11pt;
	font-weight: normal;
	font-style: normal;
}

a:link
{
	color: #4298b5;
	text-decoration: none;
}

a:visited
{
	color: #004f71;
	text-decoration: none;
}

a:hover,
a:active
{
	color: #CCCCCC;
	background-color: #4298b5;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 12px;
}

ol p,
ul p
{
	margin-top: 0px;
	margin-bottom: 0px;
}

ol ol,
ul ul
{
	margin-bottom: 12px;
}

li
{
	font-size: 11pt;
	font-family: 'Sabon LT Std';
	line-height: 14pt;
}

img
{
	border: none;
}

img.border
{
	border-width: 1px;
	border-style: solid;
	border-color: #ebebeb;
}

img.pad
{
	border: none;
	padding: 12px;
}

img.fixed600
{
	border: none;
	width: 600px;
	height: auto;
}

img.fixed320
{
	border: none;
	width: 320px;
	height: auto;
}

img.fixed128
{
	border: none;
	width: 128px;
	height: auto;
}

table
{
	margin-bottom: 12pt;
}

table.rounded
{
	margin-bottom: 12pt;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
}

td, td p
{
	font-family: 'Sabon LT Std';
	font-size: 11pt;
	font-weight: normal;
	line-height: 13pt;
}

th
{
	font-family: 'Sabon LT Std';
	font-size: 11pt;
	font-weight: bold;
	line-height: 13pt;
	color: #004f71; /* RGB (0,79,113) primary dark blue */
}

tr
{
	page-break-inside: avoid;
}

table.table
{
	margin-bottom: 24pt;
	border-collapse: collapse;
	border: none;
}

table.table th
{
	font-family: 'Sabon LT Std';
	border-bottom: 2px #919693 solid;
	padding: 0px;
	padding-right: 16px;
	text-align: left;
}

table.table td
{
	font-family: 'Sabon LT Std';
	border-bottom: 1px #919693 solid;
	padding: 4px;
	padding-right: 12px;
}

div.menu
{
	background-color: #F0F0F0; /* RGB (240,240,240) primary gray (grayscale 10%) */
	padding: 8px;
	margin: 16px;
}

div.menu p
{
	font-size: 9pt;
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	line-height: 8pt;
	margin-bottom: 0pt;
	padding: 0px;
}

div.menu a
{
	font-size: 11pt;
	color: #004f71; /* RGB (0,79,113) primary dark blue */
	font-family: 'Avenir LT Std 35 Light';
	font-weight: lighter;
	line-height: 13pt;
	margin-top: 0pt;
	padding: 0px;
}

div.buttons
{
	position: relative;
	left: 0px;
	margin-left: 0pt;
	padding-left: 0px;
}

div.buttons h2,
div.buttons h3,
div.buttons h4,
div.buttons h1
{
	margin-bottom: 0pt;
}

div.buttons p
{
	margin-top: 0pt;
}

div.buttons a
{
	text-decoration: none;
	font-size: 8pt;
	padding: 3px;
	border-radius: 3px;
}

/*

Flare Skin texteffect.css has a class call button, which is conflicting with ours. 11/06/2014, renaming a.button, span.button to a.docs-button, span.docs-button

*/

a.docs-button, .btn, .kbd
{
	margin-left: 5px;
}

.docs-button, .btn
{
	text-decoration: none;
	border: 1px #004f71 solid;
	color: #004f71;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	margin-right: 6px;
}

.kbd
{
	text-decoration: none;
	border: 1px #444F51 solid;
	background-color: #444F51;
	color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	margin-right: 6px;
}
.btn-lg, .kbd-lg
{
	border-radius: 5px;
	padding: 9px;
	font-size: 14pt;
}

.btn-default, .kbd-default
{
	border-radius: 4px;
	padding: 7px;
	font-size: 12pt;
}

.btn-sm, .kbd-sm
{
	border-radius: 3px;
	padding: 5px;
	font-size: 10pt;
}

.docs-button, .btn-xs, .kbd-xs
{
	border-radius: 3px;
	padding: 3px;
	font-size: 8pt;
}

div.buttons a:link,
div.buttons a:visited,
a.docs-button:link,
a.docs-button:visited, a.btn:link, a.btn:visited
{
	border: 1px #004f71 solid;
	color: #004f71;
}

div.buttons a:hover,
div.buttons a:active,
a.docs-button:hover,
a.docs-button:active, a.btn:hover, a.btn:active
{
	border: 1px #ffffff solid;
	background-color: #004f71;
	color: #ffffff;
}

div.buttons h2 a,
div.buttons h3 a,
div.buttons h4 a,
div.buttons h1 a
{
	margin-right: 0px;
	padding: 0px;
}

div.term h6
{
	font-size: 9pt;
	line-height: 11pt;
	margin-bottom: 0pt;
}

div.term h5
{
	font-size: 9pt;
	line-height: 11pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
}

div.term p
{
	font-size: 9pt;
	line-height: 11pt;
	margin-top: 6pt;
	padding-bottom: 4px;
	border-bottom: thin #919693 dotted;
}

div.faq h6
{
	font-size: 14pt;
	color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
	line-height: 16pt;
	font-style: normal;
	margin-bottom: 0pt;
}

div.faq h5
{
	font-size: 12pt;
	line-height: 14pt;
	margin-top: 0pt;
	font-style: italic;
	margin-bottom: 0pt;
	text-transform: none;
}

div.faq p
{
	font-size: 11pt;
	line-height: 13pt;
	margin-top: 6pt;
	font-style: normal;
}

div.faq-answer
{
	padding-bottom: 4px;
	border-bottom: thin #CCCCCC dashed;
}

/* MADCAP Special Tags */

MadCap|expandingHead
{
	font-weight: normal;
	font-style: italic;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

MadCap|variable
{
	font-weight: normal;
	font-style: normal;
}

@media print
{
	h1,
	div.buttons h1
	{
		padding-top: 1.75in;
		padding-bottom: 1in;
		border-bottom: 2px #004f71 solid;
	}

	/* DnB-Standards Tags (used only for Master items) */

	p.master_company
	{
		font-size: 10pt;
		color: #004f71; /* RGB (0,79,113) primary dark blue */
		margin-top: 2in;
		margin-bottom: 0pt;
		margin-left: 0.5in;
		line-height: 12pt;
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		text-transform: uppercase;
	}

	h1.master_title,
	p.master_title
	{
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		font-size: 28pt;
		color: #004f71; /* RGB (0,79,113) primary dark blue */
		margin-top: 6px;
		margin-left: 0.5in;
		margin-right: 2in;
		margin-bottom: 0pt;
		text-indent: 0px;
		text-align: left;
		line-height: 30pt;
		mc-heading-level: 0;
		mc-hyphenate-shortest-word: 24;
		mc-hyphenate-shortest-suffix: 30;
		mc-hyphenate-shortest-prefix: 30;
	}

	h1.master_title_subtitle,
	p.master_title_subtitle
	{
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		font-size: 16pt;
		font-style: italic;
		color: #4298b5; /* RGB (66,152,181) primary light blue */
		margin-top: 16px;
		margin-left: 0.5in;
		margin-right: 2in;
		text-indent: 0px;
		text-align: left;
		line-height: 18pt;
		mc-heading-level: 0;
		mc-hyphenate-shortest-word: 24;
	}

	h1.master_title_version,
	p.master_title_version
	{
		font-size: 14pt;
		font-family: TheSerif;
		font-weight: 100;
		color: #919693;
		margin-top: 48px;
		margin-left: 0.5in;
		margin-right: 2in;
		text-indent: 0px;
		text-align: left;
		line-height: 16pt;
		padding-left: 0;
		padding-right: 0;
		mc-heading-level: 0;
		mc-hyphenate-shortest-word: 24;
	}

	h1.master_title_notes,
	p.master_title_notes
	{
		font-size: 12pt;
		font-family: TheSerif;
		font-weight: 100;
		color: #444F51;
		margin-top: 96px;
		margin-left: 0.5in;
		margin-right: 2in;
		text-indent: 0px;
		text-align: left;
		line-height: 14pt;
		padding-left: 0;
		padding-right: 0;
		mc-heading-level: 0;
		mc-hyphenate-shortest-word: 12;
	}

	p.master_title_logo
	{
		margin-top: 0.5in;
		margin-left: 0.5in;
	}

	h6.master_page_header
	{
		display: block;
		margin-bottom: 2px;
		border-bottom: thin #919693 solid;
	}

	span.footer_dark
 	{
		font-size: 8pt;
		line-height: 8pt;
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		color: #004f71; /* RGB (0,79,113) primary dark blue */
		text-transform: uppercase;
	}
	
	span.footer_light
 	{
		font-size: 8pt;
		line-height: 8pt;
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		color: #4298b5; /* RGB (66,152,181) primary light blue */
		text-transform: uppercase;
	}

	/* CREATED FOR -D.css */

	h1.master_title_date,
	p.master_title_date
	{
		font-size: 8pt;
		line-height: 8pt;
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		text-transform: uppercase;
		margin-top: 48pt;
		color: #4298b5; /* RGB (66,152,181) primary light blue */
		text-align: center;
		line-height: 18pt;
	}

	p.master_copyright
	{
		font-size: 9pt;
		font-family: 'Sabon LT Std';
		color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
		line-height: 11pt;
		margin-top: 0.25in;
		margin-left: 0pt;
	}

	p.master_back_cover
	{
		font-size: 11pt;
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		color: #004f71; /* RGB (0,79,113) primary dark blue */
		margin-top: 0pt;
		margin-left: 0.5in;
		margin-bottom: 0pt;
	}

	p.master_back_cover_website
	{
		font-size: 11pt;
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		color: #004f71; /* RGB (0,79,113) primary dark blue */
		margin-left: 0.5in;
	}

	p.master_back_cover_copyright
	{
		font-size: 8pt;
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		font-style: normal;
		color: #4298b5; /* RGB (66,152,181) primary light blue */
		line-height: 9pt;
		margin-left: 0.5in;
	}

	p.master_back_cover_logo
	{
		margin-left: 0.5in;
		margin-top: 0in;
	}

	p.master_back_cover_logo-L
	{
		margin-left: 1in;
		margin-top: 2.75in;
	}

	p.master_page_header,
	td.master_page_header
	{
		font-size: 9pt;
	}

	p.master_page_footer,
	td.master_page_footer
	{
		font-size: 8pt;
	}

	/* MADCAP Special Tags */

	MadCap|variable.title_page
	{
		font-family: TheSerif;
	}

	MadCap|footnoteBlock
	{
		font-family: TheSans;
		font-size: 10pt;
	}

	MadCap|xref
	{
		font-family: TheSans;
	}

	MadCap|xref.xref_see_section
	{
		mc-format: 'see {quote}{paratext}{quote} on page {page}';
	}

	MadCap|xref.see_step
	{
		mc-format: 'see this step on page {page}';
	}

	MadCap|xref.section_title
	{
		mc-format: '{quote}{paratext}{quote} on page {page}';
	}

	MadCap|xref.step
	{
		mc-format: 'step {paranum}';
	}

	MadCap|xref.alpha
	{
		mc-format: '{i}{paratext}{/i}';
	}

	MadCap|tocProxy
	{
		border-top-style: none;
		border-top-color: #ffffff;
		border-top-width: 0px;
		page-break-after: avoid;
		padding-left: 0px;
		margin-left: 0in;
	}

	p.TOC1
	{
		font-size: 11pt;
		font-family: 'Avenir LT Std 65 Medium';
		font-weight: normal;
		color: #004f71; /* RGB (0,79,113) primary dark blue */
		margin-left: 0in;
		mc-leader-align: left;
		mc-leader-indent: 0;
	}

	p.TOC2
	{
		font-size: 11pt;
		font-family: 'Avenir LT Std 35 Light';
		font-weight: lighter;
		color: #A4A9AD; /* RGB (164,169,173) primary gray (grayscale 40%) */
		margin-left: 0in;
		mc-leader-align: left;
		mc-leader-indent: 0;
	}

	MadCap|miniTocProxy
	{
		font-size: 10pt;
		font-family: TheSans;
		color: #003074;
		border-top-style: none;
		border-top-color: #ffffff;
		border-top-width: 0px;
	}

	p.MiniTOC1
	{
		font-size: 10pt;
		font-weight: normal;
		font-style: normal;
	}

	p.MiniTOC2
	{
		font-size: 10pt;
	}

	p.MiniTOC3
	{
		font-size: 10pt;
	}

	p.MiniTOC4
	{
		font-size: 10pt;
	}

	p.MiniTOC5
	{
		font-size: 10pt;
	}

	p.MiniTOC6
	{
		font-size: 10pt;
	}

	p.MiniTOC7
	{
		font-size: 10pt;
	}

	p.MiniTOC8
	{
		font-size: 10pt;
	}

	p.MiniTOC9
	{
		font-size: 10pt;
	}

	MadCap|indexProxy
	{
		font-size: 11pt;
		font-family: TheSans;
		border-top-style: none;
		border-top-color: #ffffff;
		border-top-width: 0px;
	}

	p.IndexHeading
	{
		font-size: 12pt;
		text-align: left;
	}

	p.Index2
	{
		font-size: 10pt;
	}

	p.Index3
	{
		font-size: 10pt;
	}

	MadCap|glossaryProxy
	{
		font-size: 10pt;
		font-family: TheSans;
		line-height: 12pt;
		border-top-color: #0065a2;
	}

	MadCap|glossaryTerm
	{
		font-size: 10pt;
		font-family: TheSans;
		font-weight: 100;
		color: #000000;
		margin-top: 6pt;
		padding-bottom: 6pt;
	}

	a.GlossaryPageTerm
	{
		font-size: 11pt;
		font-family: TheSans;
		line-height: 13pt;
	}

	div.GlossaryPageDefinition
	{
		font-family: TheSans;
	}

	div.GlossaryPageEntry
	{
		font-size: 11pt;
		font-family: TheSans;
		font-weight: 100;
		line-height: 12pt;
	}

	div.GlossaryPageHeading
	{
		font-size: 12pt;
		font-family: TheSans;
		line-height: 14pt;
	}

	div.GlossaryPageTerm
	{
		font-size: 12pt;
		font-family: TheSans;
		font-weight: 200;
		line-height: 13pt;
		padding: 6pt;
	}

	.MCBreadcrumbsPrefix, .MCBreadcrumbs
	{
		display: none;
	}
}

/* END @media print */

@media screen
{
	h6.master_page_header
	{
		display: none;
	}

	MadCap|xref
	{
		font-family: TheSans;
	}

	MadCap|xref.xref_see_section
	{
		mc-format: 'see {quote}{paratext}{quote}';
	}

	MadCap|xref.see_step
	{
		mc-format: 'see this step';
	}

	MadCap|xref.section_title
	{
		mc-format: '{quote}{paratext}{quote}';
	}

	MadCap|xref.step
	{
		mc-format: 'step {paranum}';
	}

	MadCap|xref.alpha
	{
		mc-format: '{i}{paratext}{/i}';
	}
}

/* END @media screen */


MadCap|breadcrumbsProxy
{
	font-size: 9pt;
	font-family: TheSans;
	border-bottom: none;
	padding: 8px;
	background-color: #dddddd;
	mc-breadcrumbs-divider: ' » ';
	mc-breadcrumbs-prefix: 'D&B » ';
}

p.titleImage
{
	font-size: 12.0pt;
	text-align: center;
	margin-bottom: 1.67em;
	margin-top: 1.67em;
}

p.list1
{
	mc-auto-number-format: '{n+}. ';
	mc-auto-number-position: outside-head;
	margin-left: 40px;
	mc-auto-number-offset: 20pt;
	line-height: 16pt;
	margin-bottom: 5.67pt;
	margin-top: 6pt;
}

p.new_list1
{
	mc-auto-number-position: outside-head;
	margin-left: 40px;
	mc-auto-number-offset: 20pt;
	line-height: 16pt;
	mc-auto-number-format: '{n=1}. ';
}
