/*<meta />*/

/*

FONT SUBSTITUTIONS (As suggested by Sam Oltrogge, 14/Jan/2014)

Chinese (Simplified) -> DnB-Style-CN.css
Serif: SimSun
San-Serif: SimHei

Japanese -> DnB-Style-JP.css
Serif: MS Mincho
San-Serif: Meiryo

(In 4/Feb/2014 versions created by Ann Arnold, only the <p> and <b> tags had the San-Serif substitutions)

*/

/*

ALTERNATE VERSION for PowerPoint-like Desks -> DnB-Style-D.css

1. title page changes
2. <h1> changes (to push down first <p>)
3. back cover changes

*/

body
{
	font-family: TheSans;
	mc-hyphenate: never;
}

h1
{
	font-size: 24.0pt;
	font-family: TheSerif;
	font-weight: bold;
	color: #003074;
	mc-hyphenate: never;
}

h1.appendix
{
	font-size: 24.0pt;
	font-family: TheSans;
	font-weight: bold;
	color: #003074;
	mc-hyphenate: never;
}

h1.chapter
{
	font-family: TheSerif;
	color: #003d6b;
	mc-auto-number-format: 'CH:Chapter {chapnum}: ';
}

h1.toc
{
	font-size: 24.0pt;
	font-family: TheSans;
	font-weight: bold;
	color: #003d6b;
}

h2
{
	font-size: 18.0pt;
	font-family: TheSerif;
	font-weight: bold;
	mc-hyphenate: never;
}

h2.pagebreak
{
	font-size: 18.0pt;
	font-family: TheSerif;
	font-weight: bold;
	page-break-before: always;
	mc-hyphenate: never;
}

h3
{
	font-size: 14.0pt;
	font-family: TheSerif;
	font-weight: bold;
	mc-hyphenate: never;
}

h4
{
	font-size: 12.0pt;
	font-family: TheSerif;
	font-weight: bold;
	mc-hyphenate: never;
}

h5
{
	font-size: 10.0pt;
	font-family: TheSerif;
	font-weight: bold;
	mc-hyphenate: never;
}

h6
{
	font-size: 8.0pt;
	font-family: TheSerif;
	font-weight: bold;
	mc-hyphenate: never;
}

p, td
{
	font-size: 11pt;
	font-family: Meiryo;
	line-height: 14pt;
	margin-top: 14pt;
	margin-bottom: 13.67pt;
	mc-hyphenate: never;
}

p.comment
{
	font-size: 12pt;
	line-height: 1ex;
	color: #9400d3;
	margin-top: 6pt;
	margin-bottom: 5.67pt;
	mc-hyphenate: never;
}

p.figure
{
	font-size: 9pt;
	text-align: center;
}

p.important
{
	font-size: 11pt;
	background-color: #cceeff;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-right: 10pt;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #006699;
	mc-hyphenate: never;
	mc-auto-number-format: '{b}(!) Important Note: ';
}

p.note
{
	font-size: 11pt;
	background-color: #cceeff;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-right: 10pt;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #006699;
	border-style: solid;
	mc-hyphenate: never;
	mc-auto-number-format: '{b}Note: ';
}

p.note_indented
{
	font-size: 11pt;
	background-color: #cceeff;
	margin-left: 40px;
	margin-right: 32px;
	margin-top: 9.67pt;
	margin-bottom: 9.67pt;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #006699;
	mc-hyphenate: never;
	mc-auto-number-format: '{b}Note: ';
}

p.titleImage
{
	font-size: 12.0pt;
	text-align: center;
	margin-bottom: 1.67em;
	margin-top: 1.67em;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

li
{
	font-size: 11pt;
	font-family: TheSans;
}

img
{
	border: none;
}

img.border
{
	border-width: 1px;
	border-style: solid;
	border-color: #ebebeb;
}

img.padding
{
	padding: 12px;
}

a.Popup
{
	
}

tr
{
	page-break-inside: avoid;
}




/* MADCAP Special Tags */

MadCap|expandingHead
{
	font-weight: normal;
	font-style: italic;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

MadCap|variable
{
	font-family: TheSans;
	font-weight: normal;
	font-style: italic;
}




@media print
{
	body
	{
		font-family: TheSans;
	}

	h1
	{
		font-size: 22pt;
		font-family: TheSerif;
		font-weight: 100;
		color: #000066;
	}

	h1.appendix
	{
		font-family: TheSerif;
		font-weight: 100;
		color: #003d6b;
		mc-auto-number-format: 'CH:Appendix {chapnum}: ';
	}

	h1.chapter
	{
		font-size: 22pt;
		font-family: TheSerif;
		font-weight: 100;
		margin-left: 44px;
		text-indent: -52px;
		mc-auto-number-format: '{chapnum}   ';
	}

	h1.toc
	{
		font-size: 22pt;
		font-family: TheSerif;
		page-break-before: avoid;
		mc-heading-level: 0;
	}

	h2
	{
		font-size: 18pt;
		font-family: TheSerif;
		font-weight: 100;
		margin-top: 17.75pt;
	}

	h3
	{
		font-size: 16pt;
		font-family: TheSerif;
		font-weight: 100;
	}

	h4
	{
		font-size: 14pt;
		font-family: TheSerif;
		font-weight: 100;
	}

	h5
	{
		font-size: 12pt;
		font-family: TheSerif;
		font-weight: 100;
	}

	h6
	{
		font-size: 10pt;
		font-family: TheSerif;
		font-weight: 100;
	}

	p, td
	{
		font-family: Meiryo;
	}

	p.comment
	{
		font-family: TheSans;
	}

	p.important
	{
		background-color: #cbebff;
	}

	p.note
	{
		background-color: #cbebff;
	}

	p.note_indented
	{
		background-color: #cbebff;
	}

	img.border
	{
		padding-bottom: 3pt;
	}

	li
	{
		font-family: TheSans;
		line-height: 14pt;
	}

	b
	{
		font-family: Meiryo;
	}




	/* DnB-Standards Tags (used only for Master items) */

	h1.master_title
	{
		font-size: 36pt;
		font-family: TheSans;
		font-weight: 100;
		color: #003d6b;
		margin-top: 24px;
		margin-left: 72px;
		margin-right: 2in;
		margin-bottom: 0pt;
		text-indent: 0px;
		text-align: left;
		line-height: 44pt;
		page-break-before: avoid;
		page-break-after: avoid;
		mc-heading-level: 0;
		mc-hyphenate-shortest-word: 24;
		mc-hyphenate-shortest-suffix: 30;
		mc-hyphenate-shortest-prefix: 30;
	}

	h1.master_title_subtitle
	{
		font-size: 24pt;
		font-family: TheSerif;
		font-weight: 100;
		font-style: italic;
		color: #003d6b;
		margin-top: 16px;
		margin-left: 72px;
		margin-right: 2in;
		text-indent: 0px;
		text-align: left;
		line-height: 28pt;
		page-break-before: avoid;
		page-break-after: avoid;
		mc-heading-level: 0;
		mc-hyphenate-shortest-word: 24;
	}

	h1.master_title_version
	{
		font-size: 16pt;
		font-family: TheSerif;
		font-weight: 100;
		color: #919693;
		margin-top: 48px;
		margin-left: 72px;
		margin-right: 2in;
		text-indent: 0px;
		text-align: left;
		line-height: 18pt;
		padding-left: 0;
		padding-right: 0;
		page-break-before: avoid;
		page-break-after: avoid;
		mc-heading-level: 0;
		mc-hyphenate-shortest-word: 24;
	}

	h1.master_title_notes
	{
		font-size: 12pt;
		font-family: TheSerif;
		font-weight: 100;
		color: #444F51;
		margin-top: 128px;
		margin-left: 72px;
		margin-right: 2in;
		text-indent: 0px;
		text-align: left;
		line-height: 18pt;
		padding-left: 0;
		padding-right: 0;
		page-break-before: avoid;
		page-break-after: avoid;
		mc-heading-level: 0;
		mc-hyphenate-shortest-word: 12;
	}

	p.master_copyright
	{
		font-size: 9pt;
		line-height: 12pt;
		margin-top: 6pt;
		margin-left: 20pt;
		margin-right: 20pt;
	}

	p.master_back_cover_company
	{
		font-size: 10pt;
		font-weight: 100;
		color: #003b6f;
		margin-left: 1in;
		margin-bottom: 0pt;
	}

	p.master_back_cover_address1
	{
		font-size: 10pt;
		font-weight: 100;
		color: #003b6f;
		margin-top: 0pt;
		margin-left: 1in;
		margin-bottom: 0pt;
	}

	p.master_back_cover_address2
	{
		font-size: 10pt;
		font-weight: 100;
		color: #003b6f;
		margin-top: 0pt;
		margin-left: 1in;
	}

	p.master_back_cover_website
	{
		font-size: 12pt;
		font-weight: bold;
		color: #003b6f;
		line-height: 14pt;
		margin-left: 1in;
	}

	p.master_back_cover_copyright
	{
		font-size: 7pt;
		color: #414b56;
		line-height: 9pt;
		margin-left: 1in;
		padding-top: 45pt;
	}

	p.master_back_cover_logo
	{
		margin-left: 1in;
		margin-top: 5.5in;
	}

	p.master_back_cover_logo-L
	{
		margin-left: 1in;
		margin-top: 2.75in;
	}

	p.master_page_header, td.master_page_header
	{
		font-size: 9pt;
	}

	p.master_page_footer, td.master_page_footer
	{
		font-size: 8pt;
	}



	/* MADCAP Special Tags */

	MadCap|variable.title_page
	{
		font-family: TheSerif;
	}

	MadCap|footnoteBlock
	{
		font-family: TheSans;
		font-size: 10pt;
	}

	MadCap|xref
	{
		font-family: TheSans;
	}

	MadCap|xref.xref_see_section
	{
		mc-format: 'see {quote}{paratext}{quote} on page {page}';
	}

	MadCap|xref.see_step
	{
		mc-format: 'see this step on page {page}';
	}

	MadCap|xref.section_title
	{
		mc-format: '{quote}{paratext}{quote} on page {page}';
	}

	MadCap|xref.step
	{
		mc-format: 'step {paranum}';
	}

	MadCap|xref.alpha
	{
		mc-format: '{i}{paratext}{/i}';
	}

	MadCap|tocProxy
	{
		font-size: 10pt;
		font-family: TheSans;
		border-top-style: none;
		border-top-color: #ffffff;
		border-top-width: 0px;
		page-break-after: avoid;
	}

	p.TOC1
	{
		background-image: none;
	}

	MadCap|miniTocProxy
	{
		font-size: 10pt;
		font-family: TheSans;
		color: #003074;
		border-top-style: none;
		border-top-color: #ffffff;
		border-top-width: 0px;
	}

	p.MiniTOC1
	{
		font-size: 10pt;
		font-weight: normal;
		font-style: normal;
	}

	p.MiniTOC2
	{
		font-size: 10pt;
	}

	p.MiniTOC3
	{
		font-size: 10pt;
	}

	p.MiniTOC4
	{
		font-size: 10pt;
	}

	p.MiniTOC5
	{
		font-size: 10pt;
	}

	p.MiniTOC6
	{
		font-size: 10pt;
	}

	p.MiniTOC7
	{
		font-size: 10pt;
	}

	p.MiniTOC8
	{
		font-size: 10pt;
	}

	p.MiniTOC9
	{
		font-size: 10pt;
	}

	MadCap|indexProxy
	{
		font-size: 11pt;
		font-family: TheSans;
		border-top-style: none;
		border-top-color: #ffffff;
		border-top-width: 0px;
	}

	p.IndexHeading
	{
		font-size: 12pt;
		text-align: left;
	}

	p.Index2
	{
		font-size: 10pt;
	}

	p.Index3
	{
		font-size: 10pt;
	}

	MadCap|glossaryProxy
	{
		font-size: 10pt;
		font-family: TheSans;
		line-height: 12pt;
		border-top-color: #0065a2;
	}

	MadCap|glossaryTerm
	{
		font-size: 10pt;
		font-family: TheSans;
		font-weight: 100;
		color: #000000;
		margin-top: 6pt;
		padding-bottom: 6pt;
	}

	a.GlossaryPageTerm
	{
		font-size: 11pt;
		font-family: TheSans;
		line-height: 13pt;
	}

	div.GlossaryPageDefinition
	{
		font-family: TheSans;
	}

	div.GlossaryPageEntry
	{
		font-size: 11pt;
		font-family: TheSans;
		font-weight: 100;
		line-height: 12pt;
	}

	div.GlossaryPageHeading
	{
		font-size: 12pt;
		font-family: TheSans;
		line-height: 14pt;
	}

	div.GlossaryPageTerm
	{
		font-size: 12pt;
		font-family: TheSans;
		font-weight: 200;
		line-height: 13pt;
		padding: 6pt;
	}

} /* END @media print */

