/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: dnb_tablestyle_3;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #006699;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #006699;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #006699;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #006699;
	max-id: 8;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	widows: 2;
	orphans: 2;
	border-spacing-x: 1;
	border-spacing-y: 1;
	page-break-before: avoid;
	margin-top: 4pt;
	margin-bottom: 4pt;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #006699;
	name: Column1;
	id: 0;
	text-align: left;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	vertical-align: top;
	font-size: 9pt;
	font-family: TheSans;
	font-style: normal;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #999999;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	text-align: left;
	vertical-align: top;
	font-size: 10px;
	font-family: TheSans;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #006699;
	name: Body1;
	id: 1;
	text-align: left;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	vertical-align: top;
	font-size: 9pt;
	font-family: TheSans;
	font-style: normal;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #006699;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-dnb_tablestyle_3
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #006699;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #006699;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #006699;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006699;
	border-bottom-width: 1px;
	margin-top: 4pt;
	margin-bottom: 4pt;
	page-break-before: avoid;
	widows: 2;
	orphans: 2;
	border-spacing: 1px 1px;
}

.TableStyle-dnb_tablestyle_3-Column-Column1
{
	
}

.TableStyle-dnb_tablestyle_3-Head-Header1
{
	
}

.TableStyle-dnb_tablestyle_3-HeadI-Column1-Header1
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-HeadI-Column1-Header1 p
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
}

.TableStyle-dnb_tablestyle_3-HeadE-Column1-Header1
{
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
	font-family: TheSans;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-dnb_tablestyle_3-HeadE-Column1-Header1 p
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
}

.TableStyle-dnb_tablestyle_3-HeadF-Column1-Header1
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-dnb_tablestyle_3-HeadF-Column1-Header1 p
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
}

.TableStyle-dnb_tablestyle_3-HeadH-Column1-Header1
{
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
	font-family: TheSans;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-HeadH-Column1-Header1 p
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
}

.TableStyle-dnb_tablestyle_3-HeadD-Column1-Header1
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-dnb_tablestyle_3-HeadD-Column1-Header1 p
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
}

.TableStyle-dnb_tablestyle_3-HeadC-Column1-Header1
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-HeadC-Column1-Header1 p
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
}

.TableStyle-dnb_tablestyle_3-HeadB-Column1-Header1
{
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
	font-family: TheSans;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-HeadB-Column1-Header1 p
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
}

.TableStyle-dnb_tablestyle_3-HeadA-Column1-Header1
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-HeadA-Column1-Header1 p
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
}

.TableStyle-dnb_tablestyle_3-HeadG-Column1-Header1
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-HeadG-Column1-Header1 p
{
	font-style: normal;
	font-family: TheSans;
	font-size: 10px;
}

.TableStyle-dnb_tablestyle_3-Foot-Footer1
{
	
}

.TableStyle-dnb_tablestyle_3-FootI-Column1-Footer1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-FootI-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-FootE-Column1-Footer1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #006699;
	border-top-style: solid;
}

.TableStyle-dnb_tablestyle_3-FootE-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-FootF-Column1-Footer1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top-width: 1px;
	border-top-color: #006699;
	border-top-style: solid;
}

.TableStyle-dnb_tablestyle_3-FootF-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-FootH-Column1-Footer1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_3-FootH-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-FootD-Column1-Footer1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top-width: 1px;
	border-top-color: #006699;
	border-top-style: solid;
}

.TableStyle-dnb_tablestyle_3-FootD-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-FootC-Column1-Footer1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-FootC-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-FootB-Column1-Footer1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_3-FootB-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-FootA-Column1-Footer1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-FootA-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-FootG-Column1-Footer1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-FootG-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-Body-Body1
{
	
}

.TableStyle-dnb_tablestyle_3-BodyI-Column1-Body1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-BodyI-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #006699;
	border-bottom-style: solid;
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_3-BodyE-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #006699;
	border-bottom-style: solid;
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-BodyF-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-BodyH-Column1-Body1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_3-BodyH-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #006699;
	border-bottom-style: solid;
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-BodyD-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-BodyC-Column1-Body1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-BodyC-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-BodyB-Column1-Body1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_3-BodyB-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-BodyA-Column1-Body1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-BodyA-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_3-BodyG-Column1-Body1
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-dnb_tablestyle_3-BodyG-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 9pt;
	font-style: normal;
}


