/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: dnb_tablestyle_2;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #006699;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #006699;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #006699;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #006699;
	max-id: 10;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	widows: 2;
	orphans: 2;
	border-spacing-x: 1;
	border-spacing-y: 1;
	page-break-before: avoid;
	margin-top: 4pt;
	margin-bottom: 4pt;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #006699;
	name: Column1;
	id: 0;
	text-align: left;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	vertical-align: top;
	font-size: 10pt;
	font-family: TheSans;
	font-style: normal;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #999999;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	font-family: TheSans;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #006699;
	name: Body1;
	id: 1;
	text-align: left;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	vertical-align: top;
	font-size: 10pt;
	font-family: TheSans;
	font-style: normal;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #006699;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-dnb_tablestyle_2
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #006699;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #006699;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #006699;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006699;
	border-bottom-width: 1px;
	margin-top: 4pt;
	margin-bottom: 4pt;
	page-break-before: avoid;
	widows: 2;
	orphans: 2;
	border-spacing: 1px 1px;
}

.TableStyle-dnb_tablestyle_2-Column-Column1
{
	
}

.TableStyle-dnb_tablestyle_2-Head-Header1
{
	
}

.TableStyle-dnb_tablestyle_2-HeadI-Column1-Header1
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-HeadI-Column1-Header1 p
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
}

.TableStyle-dnb_tablestyle_2-HeadE-Column1-Header1
{
	font-size: 10pt;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
	font-family: TheSans;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-dnb_tablestyle_2-HeadE-Column1-Header1 p
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
}

.TableStyle-dnb_tablestyle_2-HeadF-Column1-Header1
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-dnb_tablestyle_2-HeadF-Column1-Header1 p
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
}

.TableStyle-dnb_tablestyle_2-HeadH-Column1-Header1
{
	font-size: 10pt;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
	font-family: TheSans;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-HeadH-Column1-Header1 p
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
}

.TableStyle-dnb_tablestyle_2-HeadD-Column1-Header1
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-dnb_tablestyle_2-HeadD-Column1-Header1 p
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
}

.TableStyle-dnb_tablestyle_2-HeadC-Column1-Header1
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-HeadC-Column1-Header1 p
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
}

.TableStyle-dnb_tablestyle_2-HeadB-Column1-Header1
{
	font-size: 10pt;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
	font-family: TheSans;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-HeadB-Column1-Header1 p
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
}

.TableStyle-dnb_tablestyle_2-HeadA-Column1-Header1
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-HeadA-Column1-Header1 p
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
}

.TableStyle-dnb_tablestyle_2-HeadG-Column1-Header1
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
	text-align: left;
	vertical-align: top;
	background-color: #999999;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-HeadG-Column1-Header1 p
{
	font-size: 10pt;
	font-style: normal;
	font-family: TheSans;
}

.TableStyle-dnb_tablestyle_2-Foot-Footer1
{
	
}

.TableStyle-dnb_tablestyle_2-FootI-Column1-Footer1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-FootI-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-FootE-Column1-Footer1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #006699;
	border-top-style: solid;
}

.TableStyle-dnb_tablestyle_2-FootE-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-FootF-Column1-Footer1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #006699;
	border-top-style: solid;
}

.TableStyle-dnb_tablestyle_2-FootF-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-FootH-Column1-Footer1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_2-FootH-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-FootD-Column1-Footer1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #006699;
	border-top-style: solid;
}

.TableStyle-dnb_tablestyle_2-FootD-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-FootC-Column1-Footer1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-FootC-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-FootB-Column1-Footer1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_2-FootB-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-FootA-Column1-Footer1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-FootA-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-FootG-Column1-Footer1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-FootG-Column1-Footer1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-Body-Body1
{
	
}

.TableStyle-dnb_tablestyle_2-BodyI-Column1-Body1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-BodyI-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #006699;
	border-bottom-style: solid;
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_2-BodyE-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #006699;
	border-bottom-style: solid;
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-BodyF-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-BodyH-Column1-Body1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_2-BodyH-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #006699;
	border-bottom-style: solid;
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-BodyD-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-BodyC-Column1-Body1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-BodyC-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-BodyB-Column1-Body1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #006699;
	border-right-style: solid;
}

.TableStyle-dnb_tablestyle_2-BodyB-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-BodyA-Column1-Body1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-BodyA-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}

.TableStyle-dnb_tablestyle_2-BodyG-Column1-Body1
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-dnb_tablestyle_2-BodyG-Column1-Body1 p
{
	font-family: TheSans;
	font-size: 10pt;
	font-style: normal;
}


